POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=kplus
POSTGRES_USER=kplus
POSTGRES_PASSWORD=kplus
CORE_PORT=3000
COURIER_WEBHOOK_SECRET=local-courier-secret
COURIER_PORT=3001
WEB_PORT=5173

CORE_URL=http://localhost:3000
WORKER_ID=worker-1
WORKER_POLL_INTERVAL=1s
WORKER_LEASE_DURATION=30s
WORKER_BATCH_SIZE=16
